# Youxia RetroArch overlay config (append / override)
input_autodetect_enable = "true"
input_joypad_driver = "xinput"
video_fullscreen = "false"
video_windowed_fullscreen = "true"
netplay_public_announce = "false"
netplay_start_as_spectator = "false"
pause_nonactive = "false"
